* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 16px;
}

:root {
    /* Escala de Cor Principal Azul */
    --cor-white:        #E9F0FB;
    --cor-principal-01: #82A1CD;
    --cor-principal-02: #4F79B6;
    --cor-principal:    #1c519f;
    --cor-principal-03: #16417C;
    --cor-principal-04: #102F5A;
    --cor-principal-05: #0A1D38;
    --cor-black:        #040B16;

    /* Escala de cor primaria (Botões e detalhes) */
    --cor-hover-01:     #F29453;
    --cor-primaria:     #EE7522;
    --cor-click-01:     #BA5C1A;

    /* Escala de cor secundaria (Botões e detalhes) */
    --cor-hover-02:     #F1AE53;
    --cor-secundaria:   #ED9621;
    --cor-click-02:     #B7741A;

    /* Escala de Cinza */
    --cor-cinza-01:     #AFB6C1;
    --cor-cinza-02:     #767D88;
    --cor-cinza-03:     #3D444F;
}

#header {
    background-color: var(--cor-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 24px;
}

#header nav a {
    color: var(--cor-white);
    padding: 0.8vw;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--cor-secundaria);
    border-radius: 8px;
    color: var(--cor-white);
    margin: 1vw;
    font-size: 1vw;
    padding: 0.8vw;
}

.botao_secundario:hover {
    background-color: var(--cor-hover-02);
    color: var(--cor-black);
}

.botao_primario {
    background: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
    border-radius: 8px;
    color: var(--cor-white);
    margin: 1vw;
    font-size: 1vw;
    padding: 0.8vw;
}

.botao_primario:hover {
    background: var(--cor-hover-01);
    color: var(--cor-black);
}

#footer {    
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--cor-black);
    padding: 64px 48px 12px;
    text-align: center;
    height: 100%;
}

#footer div {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    margin: 24px;
}

#footer > nav a {
    color: var(--cor-white);
    margin-left: 32px;
    text-align: center;
}
#footer > nav p {
    color: var(--cor-white);
    margin-left: 32px;
    text-align: center;
}

#dev {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--cor-white);
}

.social{
    transition: all ease-in-out 0.3s;
}

button {
    background-color: transparent;
    cursor: pointer;
    outline: 0 ;
    border: 0 ;
    padding-left: 10px;
}

.social:hover {
    transform: translateY(-4px);
}