#Hero {
    position: relative;
    height: 91vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7vw;
    background-color: var(--cor-principal-03);
    padding: 5vw;
    color: var(--cor-white);
    align-items: center;
}
.botao_secundario {
    margin: 1vw;
    font-size: 1vw;
    padding: 0.8vw;
}

.botao_primario {
    margin: 1vw;
    font-size: 1vw;
    padding: 0.8vw;
}

.Hero_Background {
    background-image: url(img/Background_Sobre.png);
    background-size: cover;
}

.area_img_hero {
    max-width: 595px;  
    max-height: 495px; 
    object-fit: cover; 
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 6vw;
}

#instalacoes {
    position: relative;
    height: 100vh;
    background-color: var(--cor-black);
    color: var(--cor-white);
    padding: 72px;
    padding-top: 0;
    padding-top: 48px;

}

.instalacoes_background{
    background-image: url(img/instalações.png);
    background-size: cover;
}

#instalacoes_area {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,auto);
    justify-content: center;
    row-gap: 24px;
    column-gap: 32px;
    box-sizing: border-box;
    max-height: 678px;
}

.title_instalacoes {
    font-size: 3vw;
    color: var(--cor-white);
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 48px;
}

.cards_instalacoes {
    position: relative;
    background-color: var(--cor-black);
    padding-top: 48px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    min-height: 164px;
    min-width: 151px;
    max-width: 303px;
    max-height: 327px;
    border-radius: 24px;
    padding: 36px;
    row-gap: 24px;
    text-overflow: ellipsis;
}

.cards_instalacoes > .botao_secundario {
    margin: 0px;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.texto {
    text-align: left;
    padding: 32px;
}

.texto> h3 {
    font-size: 36px;
}

.texto > * {
    margin-bottom: 35px;
    max-height: 240px;
    max-width: 590px;

}

.texto > .botao_secundario, .botao_primario {
    margin: 0;
    text-align: left;
    margin-right: 24px;

}

.Brigada_de_Incendios {
    background-color: var(--cor-black);
    color: var(--cor-white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    padding: 80px;
    height: 100vh;
    max-height: 560px;
    min-height: 200px;
    place-items: center;
    overflow: hidden;
    position: relative;
}
